html, body
{
    font-family: 'Roboto', sans-serif;
}

body
{
    background: url('../midia/footer-bg.png') no-repeat bottom center;
    padding-bottom: 350px;
}

header{
    width: 100%;
    background: transparent;
    transition: background ease-out 0.2s;
}

header .container .navbar-collapse
{
    width: auto;
    flex-grow: 0;
}

header .nav-link{
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    padding-left: 0; padding-right: 0;
    border-bottom: solid 4px transparent;
}

header .nav-link:hover{
    border-bottom-color: var(--secondary);
    color: var(--secondary);
}

#header.active {
    position: fixed;
    background-color: white;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
    z-index: 9;
}

#slider{
    background: url(../midia/slider-bg.svg) no-repeat center bottom;
    background-size: contain;
}

#slider h1{
    text-transform: uppercase;
    font-weight: 900;
}

#slider h1{
    text-transform: uppercase;
    font-size: 18px;
}

#servicos a.destaque
{
    display: inline-block;
    background-color: var(--light);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: black;
    text-decoration: none;
    transition: all ease-out 0.2s;
}

#servicos a.destaque:hover
{
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.12);
    transform: scale(1.05);
}

#servicos p {
    color: var(--dark);
}

#servicos a.destaque .img-container {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}

#servicos a.destaque .img-container img {
    max-height: 180px;
}

#clientes a.link-cliente {
    padding: 0 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light);
    height: 100px;
    transition: all ease-out 0.2s;
    border-radius: 5px;
}

#clientes a.link-cliente:hover {
    transform: scale(1.2);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.15);
}

#clientes a.link-cliente img {
    filter: grayscale(100%);
    max-height: 70px;
    width: 100%;
    opacity: 0.6;
}

#clientes a.link-cliente:hover > img {
    filter: none;
    opacity: 1;
}

#clientes .cliente-propaganda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    background: linear-gradient( to top, var(--light), transparent );
    border-radius: 5px;
}

#clientes .cliente-propaganda .imagem-cliente {
    padding: 60px 0;
    margin-left: -70px;
    display: flex;
    align-items: center;
    color: #b4b4b4;
    font-size: 24px;
    line-height: 26px;
}

#clientes .cliente-propaganda .imagem-cliente img {
    margin-right: 10px;
}

#clientes .cliente-propaganda .imagem-cliente span {
    color: var(--secondary);
    font-size: 110px;
    line-height: 110px;
    letter-spacing: -10px;
    font-weight: 900;
    display: block;
}

#clientes .cliente-propaganda .telefone {
    display: flex;
    font-size: 14px;
    color: #b4b4b4;
}
#clientes .cliente-propaganda .telefone span {
    font-size: 25px;
    color: #797979;
    font-weight: 900;
    display: block;
}

#clientes .cliente-propaganda .telefone div {
    margin-left: 20px;
}

#servicos .badge {
    font-weight: 400;
}

#servicos .element-item img {
    border-radius: 5px;
    transition: all ease-out 0.2s;
}

#servicos .element-item img:hover {
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
    transform: scale(0.9);
}

#servicos .buttons-group button {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
}

#servicos .buttons-group button + button {
    margin-left: 30px;
}

#servicos .buttons-group button.active {
    color: var(--primary);
}

#depoimentos .depoimento {
    background-color: var(--light);
    border-radius: 5px;
    display: flex;
    padding: 30px;
}

#depoimentos .depoimento .quote {
    max-width: 35px;
}

#depoimentos .depoimento .name {
    color: #aaaaaa;
}

#depoimentos .depoimento .name span {
    color: #000;
    font-weight: 700;
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: var(--primary);
}

.owl-theme .owl-dots .owl-dot {
    outline: none;
}

.owl-theme .owl-dots .owl-dot:hover span {
    transform: scale(1.4);
    background-color: var(--primary);
    transition: all ease-out 0.2s;
}

#contato .email
{
    padding: 120px 30px;
    background-color: var(--secondary);
    border-radius: 5px;
}

#contato .email form
{
    width: 60%;
    display: flex;
}

#contato .email img
{
    top: -30px;
    left: 30px;
}

#contato .email .form-control,
#contato .email .form-control::placeholder
{
    background: none;
    color: white;
}

#contato .rodape ul li
{
    display: flex;
    list-style-type: none;
}

#contato .rodape ul li + li
{
    margin-left: 25px;
}

#contato .rodape ul li a
{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    transition: all ease-in-out 0.2s;
}

#contato .rodape ul li a:hover
{
    background: var(--light);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
    transform: scale(1.2);
}

#contato .rodape ul li a img 
{
    max-height: 50%;
}